{% extends 'base.html' %}
{% block title %}Login{% endblock %}

{% block content %}

    <div class="subheader text-white text-header text-center">
        <h1 class="m-0">Login Here</h1>
    </div>
    <div class="form-group text-white form-box">
        <form method="post">
            {% csrf_token %} {{ form.as_p }}
            <button class="btn btn-primary btn-block" type="submit">Login</button>
        </form>
    </div>

{% endblock %}
