{% extends 'photologue/photo_list.html' %}
{% block title %}Joey&Sue{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        {% if object_list %}
            <ul class="float-sm-right">
                <li>
                    <a href="{% url 'photos:index' %}">Most Recent</a>
                </li>
                <li>
                    <a href="{% url 'photos:index' %}?order_by_like=true">Most Liked</a>
                </li>
            </ul>
            <div class="row d-flex justify-content-center">
                {% for photo in photos %}
                    <div class="card col-3">
                        <div class="card-img">
                            <a href="{% url 'photos:photo_detail' photo.slug %}">
                                <img
                                        src="{{ photo.get_thumbnail_url }}"
                                        alt="{{ photo.title }}"
                                        width="100%"
                                        height="200px"/>
                            </a>
                        </div>

                        <div class="card-body">

                            <div class="control-thumbnail">
                                <div class="title__like">
                                    <p>{{ photo.title }}</p>
                                    {% with photo.likes as like %}
                                        {% if like %}
                                            <p>{{ like }} Likes</p>
                                        {% endif %}
                                    {% endwith %}
                                </div>

                                <form method="post">
                                    {% csrf_token %}
                                    <button
                                            class="btn-lg btn-primary"
                                            formaction="{% url 'photos:photo_like' photo.id %}">
                                        <i class="fas fa-thumbs-up"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="text-header">No photos were found.</div>
            {% include "photologue/includes/paginator.html" %} {% endif %} {% else %}

        <div class="form-group text-white text-header form-box">
            <h3>
                If you want to see our Wedding Album, email-us we gonna be happy to provide
                you an account
            </h3>
            <h5 class="text-capitalize text">sue@email.com</h5>
        </div>
    {% endif %}
{% endblock %}
