{% extends 'photologue/photo_list.html' %}

{% block title %}Joey&Sue{% endblock %}

{% block content %}

    {% if messages %}
        <div role="alert" class="alert alert-success">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </div>
    {% endif %}

    {% if user.is_authenticated %}
        {% if object_list %}
            <div class="row col-lg-12">
                <h1 class="text-header text-white">All Photos of the Wedding</h1>
            </div>
            {% for photo in photos %}
                <div class="row m-4 text-white">
                    <div class="col-12 d-flex">
                        <img
                                src="{{ photo.get_display_url }}"
                                alt="{{ photo.title }}" />

                        <div class="d-flex flex-column justify-content-center m-3">
                            <h4>Sent by: {{ photo.user }}</h4>

                            <form action="{% url 'photos:approve' photo.id%}">
                                {% csrf_token %}
                                <button class="btn btn-success m-1">
                                    Approve
                                </button>
                            </form>

                            <form method="post" action="{% url 'photos:reject' photo.id%}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger m-1">
                                    Reject
                                </button>
                            </form>

                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h1 class=" text-header text-white">No photos to approve.</h1>
            {% include "photologue/includes/paginator.html" %}
        {% endif %}
    {% endif %}
{% endblock %}

