{% extends 'base.html' %} {% block title %}Joey&Sue - Upload{% endblock %}

{%block content %}
    <div class="form-group text-white form-box">
        <h3 class="text-header">
            Are you sure?! After that the photo is gone :(
        </h3>
            <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                <button class="btn btn-danger btn-block" type="submit">
                    Im Sure!
                </button>
            </form>
    </div>
{% endblock %}
