{% extends 'base.html' %} {% block title %}Joey&Sue - Upload{% endblock %}
{% block content %}
<div class="form-group text-white form-box">
    <h3 class="text-header">Send me a picture from our Wedding!</h3>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary btn-block" type="submit">
            Send!
        </button>
    </form>
</div>
{% endblock %}
