{% extends 'photologue/photo_detail.html' %}
{% block title %} Detail {% endblock %}
{% block content %}
<div class="form-group text-white form-box">
    <div class="row d-flex m-5 justify-content-center">

        <div class="col-6 text-center">
            {% if object.caption %}
                <p>{{ object.caption | safe }}</p>
            {% endif %}

            <a href="{{ object.image.url }}">
                <img
                    src="{{ object.get_display_url }}"
                    class="img-fluid"
                    width="100%"
                    height="400px"
                    alt="{{ object.title }}"
                />
            </a>
        </div>

        <div class="col-md-6 col-sm-12 text-left text-md-center text-sm-center">
            <h1 class="page-header text-white">{{ object.title }}</h1>
            <p class="text-left">Likes:</p>

            <div class="overflow-auto d-flex" style="height: 50px">
                <ul>
                    {% for like in likes %}
                        <ul>{{ like.user }}</ul>
                    {% endfor %}
                </ul>
            </div>

            <p class="text-white">
                <small>"Published"{{ object.date_added }}</small>
            </p>

        </div>
    </div>
</div>
{% endblock %}
