/* HEADER OPTIONS */
html,
body {
  font-family: sans-serif;
  background: #21487c;
}

/*MENU SETTINGS*/
ul li a {
  color: #fff;
}
ul li a:hover {
  color: #eee;
}

/* BUTTON */
button {
  cursor: pointer;
}

/*TEXT-HEADERS SETTINGS*/
.text-header {
  font-family: "Staatliches", cursive;
}

/*CARD SETTING*/
.card {
  min-width: 250px;
  background: rgba(255, 255, 255, 0.16);
  cursor: pointer;
  border-radius: 2%;
  margin: 10px;
  padding: 2%;
}
.card:hover {
  transition: 0.3s;
  background: rgba(255, 255, 255, 0.26);
}
.card-body {
  height: 70px;
}
.title__like p {
  margin: 0;
  color: #fff;
}

/*THUMBNAIL CONTROLS*/
.control-thumbnail {
  display: flex;
  justify-content: space-around;
}
.control-thumbnail .title__like {
  display: flex;
  flex-direction: column;
}
/*FORM SETTINGS*/
.form-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10% auto;
  padding: 3%;
  border-radius: 2px;
  background: rgba(238, 238, 238, 0.36);
}
.form-box:hover {
  background: rgba(238, 238, 238, 0.26);
  transition: 0.3s;
}
