{% load static %} <!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <meta name="description" content="{% block description %}{% endblock %}" />
        <meta name="keywords" content="{% block keywords %}{% endblock %}" />
        <meta name="viewport" content="{% block viewport %}width=device-width{% endblock %}"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title>{% block title %}Sue&Joey{% endblock title %}</title>
        <link
          href="https://fonts.googleapis.com/css?family=Staatliches"
          rel="stylesheet"/>
        <link
          rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
          crossorigin="anonymous"/>
        <link href="{% static 'css/base.css' %}" rel="stylesheet" />
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
        <link href="{% static 'css/style.css' %}" rel="stylesheet" />

        {% block css %}
        {% endblock %}

    </head>
    <body>
        <header>
            <ul class="nav justify-content-center">

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'photos:index' %}">
                        <i class="fas fa-images"></i> Our Album!!
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'photos:upload' %}">
                        <i class="fas fa-plus-square"></i> Upload a Pic
                    </a>
                </li>

                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout-view' %}">
                            <i class="fas fa-sign-out-alt"></i> Logout
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login-view' %}">
                            <i class="fas fa-sign-in-alt"></i> Login
                        </a>
                    </li>
                {% endif %}

                {% if request.user.is_staff %}
                    <li class="nav-item float-sm-right">
                        <a class="nav-link" href="{% url 'photos:to_approve' %}">
                            <i class="fas fa-exclamation"></i>
                            {{ photos_to_approve }} Pics to Approve
                        </a>
                    </li>
                {% endif %}
            </ul>
    </header>

    <div class="subheader text-white text-header">
        <h3>
            Hey! Welcome!
            {% if user.is_authenticated %} {{ user.username }} {% endif %}
        </h3>
    </div>

    <div class="container-fluid">
        {% block content %} {% endblock content %}
    </div>

        {% block javascript %}

        {% endblock javascript %}
  </body>
</html>
